torch==1.13.1 torchvision==0.14.1 torchaudio==0.13.1 torchtext==0.14.1 torchdata==0.5.1 --extra-index-url https://download.pytorch.org/whl/cu117

PyABSA==2.3.3 -U 

ipykernel==6.25.2

pandas==2.0.3

beautifulsoup4==4.12.2

lxml==4.9.3

ipynb==0.51

nbformat==5.9.2

html5lib==1.1
