beautifulsoup4
bidict
cltk
datasets
deep-translator>=1.11.0
dill
ipycache
ipykernel
ipywidgets
fastparquet
graphviz
matplotlib
networkx
numpy
ollama>=0.2.0
pandas
pyarrow
pydot
python-dotenv
spacy
scikit-learn
streamlit
torch
termcolor
transformers
vaderSentiment>=3.3.2