beautifulsoup4
bidict
cltk
datasets
dill
ipycache
ipykernel
ipywidgets
fastparquet
googletrans==3.1.0a0
graphviz
matplotlib
networkx
numpy
pandas
pyarrow
pydot
python-dotenv
spacy
scikit-learn
streamlit
torch
termcolor
transformers